@font-face {
  font-family: "Futura-Medium";
  src: url(./../../fonts/Futura-Medium.ttf);
  font-style: normal;
}
::placeholder {
  color: #8a8a8a;
  opacity: 1;
}

.logo_taxmann {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 100px;
}

.header_wrapper {
  height: 100px;
  width: 1440px;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 13px rgba(217, 217, 217, 0.5);
}

.logopart {
  font-family: "Futura-Medium";
  color: #6a6a6a;
  font-size: 12px;
  margin-left: 4px;
}

.searchBar {
  font-family: "Futura-Medium";
  height: 50px;
  width: 509px;
  background: #fafafa;
  border: 1px solid #eeeeee;
  box-shadow: inset 0px 1px 5px rgba(209, 209, 209, 0.5);
  border-radius: 25px;
  line-height: 21px;
  letter-spacing: 0.5px;
  font-size: 14px;
  padding-left: 47px;
  padding-right: 47px;
  color: #8a8a8a;
  margin-left: 32.95px;
  outline: none;
}

.group34_container {
  margin-left: 38px;
}
