.toggle_button {
  height: 28px;
  width: 64px;
  background: #e3eaf2;
  border-radius: 31px;
  margin: 21px 21px 14px 141px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch_label {
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 13px;
  letter-spacing: 0.208333px;
  color: #8a8a8a;
  align-self: center;
}

.toggle_switch {
  background: #ffffff;
  border: 1px solid #e3eaf2;
  box-shadow: 0px 2px 3px rgba(219, 219, 219, 0.5);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
  height: 28px;
  width: 28px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(8px);
}
