@font-face {
  font-family: "Futura-Book";
  src: url(../../fonts/Futura-Book.ttf);
  font-style: normal;
}
@font-face {
  font-family: "Futura-Heavy";
  src: url(../../fonts/Futura-Heavy.ttf);
  font-style: normal;
}

.offers {
  width: 887px;
  height: 394px;
  background: white;
  margin-top: 47px;
  flex-shrink: 0;
}

.left,
.right {
  z-index: 99;
  background: #ffffff;
  border: 1px solid #e3eaf2;
  box-shadow: 0px 2px 4px rgba(201, 201, 201, 0.5);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.carousel_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.slides_wrapper {
  width: 741px;
  height: 301px;
  overflow: hidden;
  margin: 0px 12px;
  position: relative;
  bottom: 5px;
}

.slide {
  z-index: 0;
  width: 741px;
  height: 301px;
  background: #ffffff;
  border: 1px solid #e3eaf2;
  box-sizing: border-box;
  /* box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15); */
  border-radius: 5px;
  display: flex;
  position: absolute;
}

.current {
  z-index: 9;
}

.offer_content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rectangle_image {
  height: 299.61px;
  width: 337.67px;
  border-radius: 5px 0px 0px 5px;
}

.content_heading {
  font-family: "Futura-Heavy";
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.833333px;
  text-transform: uppercase;
  color: #f88822;
  margin-bottom: 5px;
  height: 51px;
}

.content_subheading {
  font-family: "Futura-Book";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.666667px;
  color: #4b4b4b;
}

.content_about {
  font-family: "Futura-Book";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: #4b4b4b;
  height: 48px;
  width: 281px;
  margin-top: 12px;
  margin-bottom: 29px;
}

.slideInLeft {
  animation-name: animateInLeft;
  z-index: 9;
}

.slideInRight {
  animation-name: animateInRight;
  z-index: 9;
}

.slideOutLeft {
  transform: translateX(-100%);
}

.slideOutRight {
  transform: translateX(100%);
}

@keyframes animateInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes animateInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
